

body {
  font-family: 'Rubik', sans-serif;
  padding:2px;
}

.add-field {
  padding-bottom: 10px;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  padding: 10px;
}
.container {
  /* display: flex; */
  border: 2px solid steelblue;
  margin-left: 30px;;
  max-width: 500px;
  min-height: 500px;
  min-width: 40%;
  padding: 10px 20px;
  border-radius: 10px;
}

.minimized {
  color: blue;
  max-width: 400px;
  border: solid black 2px;
  /* align-self:flex-start */
}

.edit-task-title {
  width: 1000%;
}

.edit-task-btns {
  font-size: 15px;
  min-height: 60px;
  border: none;
  border-radius: 10px;
  margin: 20px 0px 20px 10px;
}
@media(max-width:500px){
  .edit-task-btns{
    font-size: 12px;
    margin-left: 0px;
  }
}

.edit-goal-title {
  width: 1000%;
}
@media(max-width:500px){
  .edit-goal-title {
    width: 40vw;
  }
}
.edit-due-date{
  width: 95px;
}
.goal-reorder {
  padding: 0px;
  margin: 0px;
  font-size:40px;
  border: none;
  background-color:white;
}
@media(min-width:500){
  .goal-reorder{
    font-size: 40px;
  }
}
.task-reorder {
  padding: 0;
  margin: 0;
  font-size: 20px;
  border: none;
  background-color:white;
}


.small-btn {
  background-color: white;
  border: none;
}
.btn {
  padding: 8px 20px;
  background-color: black;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin: 20px 0px 10px 20px;
  /* display: flex;
  justify-self: center; */
}

.btn:active {
  transform: scale(.95);
}

.task {
  background: rgba(51, 170, 51, .1)

}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50px;
  background: #f5f5f5;
  padding-left: 10px;

  /* padding-bottom: 0px; */
  margin: 5px;
}

.done-true {
  list-style-type: "✅";
  cursor: pointer;
  

}
.done-false {
  list-style-type: "⬜";
  cursor: pointer;
  
}

#drop-down {
  background-color: green;
  color: white;
}

.flex {
  display: flex;
}

.detail {
  padding:1px;
  margin: 0px;
  cursor: pointer;
}

.pointer{
  cursor: pointer;
}

.non-clickable {
  pointer-events: none;
}

.goal-form {
  display: flex;
  flex-direction: column;
  align-items:stretch;
  /* border: 4px solid black; */
  min-width: 45%;

}

.header {
  display: flex;
  justify-content: space-between;
  /* border: solid black 2px; */
  align-items:center;

}

.plus-btn {
  padding: 4px 8px;
  /* background: black; */
  margin-left: 4px;
  border: black solid 1px;
  border-radius: 5px;
  font-family: inherit;
  /* font-weight: bold; */
  color: white;
  font-size: 8px;
  cursor: pointer;
}

.goal-form-container {
  display: flex;
  justify-content:space-around;
  align-items: flex-start;

}

.hue-picker {
  cursor: pointer;
  width:initial;
}